# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo[srv]==4.1
motor==3.1.1
umongo==3.0.1
dnspython
marshmallow==3.14.1
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
